main {
	padding: 0 250px;
	padding-top: 200px;
	padding-bottom: 150px;
	position: relative;
}

h1 {
	font-size: 96px;
	color: var(--secondary);
}

h1 span {
	color: var(--primary);
}

.arrow {
	position: absolute;
	top: 260px;
	right: 250px;
	z-index: 3;
	transition: 0.3s;
	cursor: pointer;
}

.arrow:hover {
	transform: rotate(-25deg);
}

main > p {
	max-width: 40%;
	text-align: justify;
	color: var(--secondary);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
}

#first {
	margin-top: 100px;
}

#second {
	margin-top: 80px;
}

#third {
	margin-top: 75px;
}

.buttons {
	display: flex;
	gap: 65px;
	margin-top: 45px;
	justify-content: space-between;
}

.buttons button {
	border: none;
	outline: none;
	border: 1px solid var(--secondary);
	border-radius: 999px;
	padding: 13px 68px;
	cursor: pointer;
	background-color: #0e0e0e;
	color: var(--secondary);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	transition: 0.3s;
}

.buttons button:hover {
	background-color: var(--secondary);
	color: #0e0e0e;
}

@media (max-width: 1200px) {
	main {
		padding: 0 60px;
		padding-top: 200px;
		padding-bottom: 150px;
		position: relative;
	}

	.arrow {
		width: 150px;
		height: 150px;
		right: 195px;
		top: 380px;
	}

	.buttons {
		margin-top: 55px;
	}
}

@media (max-width: 800px) {
	main > p {
		max-width: 70%;
	}

	h1 {
		font-size: 40px;
		color: var(--secondary);
	}

	main {
		padding: 0 20px;
		padding-top: 115px;
		padding-bottom: 50px;
		position: relative;
	}

	.arrow {
		width: 100px;
		height: 100px;
		right: 35px;
		top: 115px;
	}

	.buttons {
		gap: 30px;
	}

	.buttons button {
		font-size: 10px;
		padding: 13px 28px;
	}

	main > p {
		max-width: 90%;
		color: var(--secondary);
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 500;
	}

	#first {
		margin-top: 42px;
	}

	#second {
		margin-top: 50px;
	}

	#third {
		margin-top: 50px;
	}
}
