* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #77777777;
	border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #777777ee;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

@font-face {
	font-family: Fraunces;
	src: url("./fonts/Fraunces/Fraunces_9pt_Soft-Regular.ttf");
}

@font-face {
	font-family: PicNic;
	src: url("./fonts/PicNic/PicNic-Regular.woff");
}

@font-face {
	font-family: Montserrat;
	src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Montserrat;
	src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
	font-weight: 500;
}

:root {
	--primary: #35e9a8;
	--secondary: #fef4df;
}

a {
	color: black;
	text-decoration: none;
	z-index: 3;
}

a:active {
}

a:visited {
	text-decoration: none;
	color: black;
}

.PicNic_p {
	font-family: PicNic;
}

.Fraunces_p {
	font-family: Fraunces;
}

body {
	background-color: #fef4df;
	font-family: PicNic;
	src: url(PicNic-Regular.otf);
	font-family: "Fraunces", serif;
	font-family: "Montserrat", sans-serif;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

nav {
	width: 100vw;
	overflow: hidden;
	display: flex;
	position: fixed;
	padding: 0 11rem;
	padding-top: 4rem;
	padding-bottom: 1.3rem;
	left: 0;
	align-items: center;
	z-index: 3;
	justify-content: space-between;
	background-color: transparent;
	z-index: 4;
	transition: 0.3s;
}

nav > a {
	color: var(--primary) !important;
}

nav > a:hover {
	color: var(--primary) !important;
	text-decoration: underline;
}

nav a:hover {
	color: var(--primary) !important;
}

nav a:active {
	text-decoration: underline;
}

.nav__button {
	display: flex;
	gap: 50px;
}

.nav__button > a {
	color: white !important;
}

.nav_scroll {
	background-color: #0e0e0e;
}

main {
	position: relative;
	overflow: hidden;
	padding: 0;
	background-color: #0e0e0e;
}

.main-bottom {
	width: 100%;
	object-fit: cover;
}

.hero-section .arrow {
	position: absolute;
	width: 14rem;
	height: 14rem;
	right: 12rem;
	bottom: 9rem;
	z-index: 3;
	transition: 0.3s;
	cursor: pointer;
	transform-origin: 50% 50%;
}

.hero-section .arrow:hover {
	rotate: -25deg;
}

footer {
	padding: 0 15.625rem;
	padding-bottom: 7.8rem;
}

footer > .info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
	align-items: center;
}

footer .message {
	font-family: Fraunces;
	font-size: 6rem;
}

footer .contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 17px;
}

footer .contact > p {
	cursor: pointer;
	padding: 13px 68px;
	border-radius: 999px;
	border: 1px solid #0e0e0e;
	width: max-content;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 1.25rem;
	transition: 0.3s;
}

footer .contact > p:hover {
	background-color: #0e0e0e;
	color: var(--secondary);
}

footer .more {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

footer hr {
	position: absolute;
	width: 100%;
	top: 6rem;
	left: 0;
}

footer .about_me_btn {
	width: 12rem;
	height: 12rem;
	margin-right: 11rem;
	background-color: var(--primary);
	border: none;
	outline: none;
	border-radius: 999px;
	color: #0e0e0e;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
	z-index: 2;
	transition: 0.3s;
}

footer .about_me_btn:hover {
	background: #0e0e0e;
	color: var(--primary);
}

footer .social-img {
	display: flex;
	gap: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
}

footer .social-img img {
	display: flex;
	gap: 2rem;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

@media (max-width: 1440px) {
	nav {
		padding: 2rem 6rem;
	}

	html {
		font-size: 16px;
	}

	footer {
		padding: 0 5rem;
		padding-bottom: 5rem;
	}

	footer .about_me_btn {
		margin-right: 5rem !important;
	}

	.arrow {
		width: 10rem !important;
		height: 10rem !important;
		right: 5rem !important;
	}
}

@media (max-width: 1200px) {
	main {
		padding: 0 60px;
		padding-top: 200px;
		padding-bottom: 150px;
	}

	nav {
		padding: 2rem 3.9rem;
	}

	html {
		font-size: 16px;
	}

	.arrow {
		width: 8rem !important;
		height: 8rem !important;
		right: 50px !important;
		bottom: 0px !important;
		transform: translateY(50%);
	}

	footer {
		padding: 0 5rem;
		padding-bottom: 5rem;
	}

	footer hr {
		background-color: #0e0e0e;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 15px;
	}

	main {
		padding: 0 15px;
		padding-top: 112px;
		padding-bottom: 80px;
	}

	nav {
		padding: 50px 20px !important;
	}

	.arrow {
		width: 100px !important;
		height: 100px !important;
		right: 50px !important;
		bottom: 0px !important;
		transform: translateY(20%);
	}

	footer {
		padding: 0 20px;
		padding-bottom: 60px;
	}

	footer > .info {
		position: relative;
		width: 100%;
		grid-template-columns: 200px;
		margin-top: 35px;
		margin-bottom: 20px;
		align-items: end;
		padding-bottom: 50px;
	}

	footer > .info > .contact {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	footer > .info > .message {
		font-size: 36px;
	}

	footer .contact > p {
		font-size: 10px;
		padding: 13px 20px;
	}

	footer .contact > p:nth-child(2) {
		padding: 13px 40px;
	}

	footer .about_me_btn {
		margin-right: 50px !important;
		width: 100px;
		height: 100px;
		font-size: 10px;
	}
	footer hr {
		top: 50px;
	}

	footer .social-img {
		gap: 16px;
	}

	footer .social-img img {
		width: 30px;
		height: 30px;
	}
}
