* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: Fraunces;
	src: url("/fonts/Fraunces/Fraunces_9pt_Soft-Regular.ttf");
}

@font-face {
	font-family: PicNic;
	src: url("/fonts/PicNic/PicNic-Regular.woff");
}

@font-face {
	font-family: Montserrat;
	src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Montserrat;
	src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
	font-weight: 500;
}

:root {
	--primary: #35e9a8;
	--secondary: #fef4df;
}

a {
	color: black;
	text-decoration: none;
}

a:active {
}

a:visited {
	text-decoration: none;
	color: black;
}

.PicNic_p {
	font-family: PicNic;
}

.Fraunces_p {
	font-family: Fraunces;
}

body {
	background-color: #fef4df;
	font-family: PicNic;
	src: url(PicNic-Regular.otf);
	font-family: "Fraunces", serif;
	font-family: "Montserrat", sans-serif;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

nav {
	width: 100vw;
	overflow: hidden;
	padding: 0 170px;
	display: flex;
	position: fixed;
	padding-top: 70px;
	padding-bottom: 20px;
	left: 0;
	align-items: center;
	z-index: 3;
	justify-content: space-between;
	background-color: transparent;
	z-index: 4;
	transition: 0.3s;
}

nav > a {
	color: var(--primary) !important;
}

.nav__button {
	display: flex;
	gap: 50px;
}

.nav__button > a {
	color: white !important;
}

.nav_scroll {
	background-color: black;
}

main {
	position: relative;
	overflow: hidden;
	padding: 0;
	background-color: #0e0e0e;
	padding-top: 85px;
}

footer {
	padding: 0 250px;
	padding-bottom: 126px;
}

footer > .info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
	align-items: center;
}

footer .message {
	font-family: Fraunces;
	font-size: 96px;
}

footer .contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 17px;
}

footer .contact > p {
	cursor: pointer;
	padding: 13px 68px;
	border-radius: 999px;
	border: 1px solid #0e0e0e;
	width: max-content;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	transition: 0.3s;
}

footer .contact > p:hover {
	cursor: pointer;
	padding: 13px 68px;
	border-radius: 999px;
	border: 1px solid #0e0e0e;
	width: max-content;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	background-color: #0e0e0e;
	color: var(--secondary);
}

footer .more {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

footer hr {
	position: absolute;
	width: 100%;
	top: 96px;
	left: 0;
}

footer .about_me_btn {
	width: 192px;
	height: 192px;
	margin-right: 116px;
	background-color: var(--primary);
	border: none;
	outline: none;
	border-radius: 999px;
	color: #0e0e0e;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	z-index: 2;
}

footer .social-img {
	display: flex;
	gap: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}

footer .social-img img {
	display: flex;
	gap: 30px;
	width: 50px;
	height: 50px;
	object-fit: contain;
}
