.hero-section {
	width: 100%;
	height: 100vh;
	flex-shrink: 0;
	position: relative;
}

.hero-section::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	width: 100vw;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(14, 14, 14, 0) 0%,
		rgba(14, 14, 14, 0.75) 100%
	);
	z-index: 1;
}

.hero-section > .hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-section > h1 {
	position: absolute;
	bottom: 7.75rem;
	left: 15.5rem;
	z-index: 3;
	color: var(--secondary);
	font-family: Fraunces;
	font-size: 6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 134.4%;
}

.hero-section > h1 > span.web {
	font-family: PicNic;
	color: var(--primary);
}

.short-des {
	display: flex;
	margin-top: 110px;
	margin-bottom: 90px;
	flex: 1 0 0;
	padding: 10px 18rem;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	font-size: 2.125rem;
	position: relative;
	text-align: center;
	color: var(--secondary);
	font-family: Montserrat;
	font-weight: 400;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 15.5rem;
	margin-bottom: 15.5rem;
	border-top: 1px solid var(--secondary);
	border-bottom: 1px solid var(--secondary);
}

.project__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 3.7rem 0px;
	margin: 0px 5rem;
	transition: 0.3s;
}

.project__item:hover {
	margin: 0px -2rem;
}

.project__item > .title {
	color: var(--secondary);
	font-family: Montserrat;
	font-weight: 500;
	font-size: 6rem;
}

.project__item > .subtitle {
	color: var(--secondary);
	font-family: Montserrat;
	font-weight: 500;
	font-size: 1.25rem;
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--secondary);
}

@media (max-width: 1440px) {
	.hero-section > h1 {
		left: 7rem !important;
		bottom: 4rem !important;
	}

	.short-des {
		padding: 10px 250px;
	}

	.project {
		margin: 0 10rem !important;
		margin-bottom: 15.5rem !important;
	}
}

@media (max-width: 1024px) {
	.hero-section {
		height: 724px;
	}

	.hero-section > h1 {
		font-size: 5rem !important;
		left: 3rem !important;
		bottom: 4rem !important;
	}

	.short-des {
		padding: 0.7rem 16.43rem;
		font-size: 1.8rem;
	}

	.project {
		margin: 0 5rem !important;
		margin-bottom: 15.5rem !important;
	}

	.project__item > .title {
		font-size: 4rem !important;
	}
}

@media (max-width: 800px) {
	.hero-section {
		height: 450px;
	}

	.hero-section::before {
		top: 225px;
		height: 225px;
	}

	.hero-section > h1 {
		font-size: 40px !important;
		left: 20px !important;
		bottom: 95px !important;
	}

	.short-des {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 10px 22px;
		font-size: 15px;
	}

	.project {
		margin: 0 45px !important;
		margin-bottom: 100px !important;
	}

	.project__item > .title {
		font-size: 32px !important;
	}

	.project__item > .subtitle {
		font-size: 15px !important;
	}

	.project__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 68px 0px;
		margin: 0px 10px;
		transition: 0.3s;
	}

	.project__item:hover {
		margin: 0px 10px;
	}
}
