main {
	padding: 0 150px;
	padding-top: 200px;
	padding-bottom: 150px;
}

h1 {
	font-size: 96px;
	color: var(--secondary);
}

h1 span {
	color: var(--primary);
}

.project {
	display: flex;
	flex-direction: column;
	gap: 147px;
	margin-top: 143px;
}

.project__item {
	display: flex;
	column-gap: 32px;
}

.project.reversed .project__item {
	flex-direction: row-reverse;
}

.project__item > img {
	width: 700px;
	aspect-ratio: 3 / 2;
	background-color: gray;
}

.project__item__content {
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.project__item__content > .subtitle {
	color: var(--secondary);
	font-size: 20px;
}

.project__item__content > .title {
	color: var(--secondary);
	font-size: 40px;
}

.project__item__content > .description {
	color: var(--secondary);
	font-size: 20px;
	margin-top: auto;
	justify-self: end;
	visibility: hidden;
}

@media (max-width: 1200px) {
	main {
		padding: 0 60px;
		padding-top: 200px;
		padding-bottom: 150px;
	}

	.project__item > img {
		width: 600px;
	}

	.project__item__content > .description {
		visibility: hidden;
	}
}

@media (max-width: 800px) {
	main {
		padding: 0 15px;
		padding-top: 112px;
		padding-bottom: 80px;
	}

	.project__item > img {
		width: 600px;
	}

	h1 {
		font-size: 40px;
	}

	.project {
		margin-top: 56px;
		gap: 55px;
	}

	.project__item {
		display: flex;
		column-gap: 13px;
	}

	.project__item > img {
		width: 210px;
		aspect-ratio: 3 / 2;
		background-color: gray;
	}

	.project__item__content > .subtitle {
		font-size: 10px !important;
	}

	.project__item__content > .title {
		font-size: 20px !important;
	}

	.project__item__content > .description {
		font-size: 10px !important;
	}
}
